.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }

  .create-ticket-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }